<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
       <meta name="description" content="Covid-19 stats by city,state or country">
       <meta name="keywords" content="Python, Flask, HTML, CSS, JavaScript">
      <meta name="author" content="Apnav Poptani">
      <link rel= "stylesheet" type= "text/css" href="{{url_for('static',filename='main.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8">
    <title>Corona stats</title>

  </head>
  <body>
    <div class="w3-container w3-grey">
	<h1>  <p> Covid-19 Tracker</p></h1>
        </div>
<div class="w3-row-padding">
  <div class="div_space w3-third w3-container">
    <form action="/citySearch" method="POST" >
      <label id="cName">Search By US City</label>
      <br>
      <br>
      <select class="select-style" name="cName" required>
        <option name="none" value="" selected disabled>Select City</option>
          {% for item in data1 %}

        <option name="{{ item }}" >{{ item }} </option>

         {% endfor %}

      </select>
      <br>
      <br>
      <input type="submit" value="Submit" class="btn btn--s">
    </form>
  </div>
    <div class="div_space w3-third w3-container">
    <form action="/provinceSearch" method="POST" >
      <label id="pName">Search By US State</label>
      <br>
      <br>
      <select class="select-style " name="pName" required>
        <option name="none" value="" selected disabled>Select State</option>
              {% for item in data3 %}
        <option name="{{ item }}" >{{ item }} </option>
         {% endfor %}

      </select>
      <br>
      <br>
      <input type="submit" value="Submit" class="btn btn--s">
    </form>
  </div>
  <div class="div_space w3-third w3-container">
    <form action="/countrySearch" method="POST">
      <label id="coName">Search By Country</label>
      <br>
      <br>
      <select class="select-style" name="coName" required>
        <option name="none"  value="" selected disabled>Select Country</option>

              {% for item in data2 %}

        <option name="{{ item }}" >{{ item }} </option>

         {% endfor %}

      </select>
      <br>
      <br>
      <input type="submit" value="Submit" class="btn btn--s">
    </form>
  </div>
</div>

	<footer>
  <nav>
    <ul>
      <li class="footer_nav_li"> ©Apnav Poptani-Covid Tracker</li>
      <li class="footer_nav_li"><a href="#">About </a></li>
      <li class="footer_nav_li"><a href="#">Contact </a></li>
    </ul>
  </nav>
	</footer>
</body>
</html>