<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel= "stylesheet" type= "text/css" href="{{url_for('static',filename='main.css')}}">
    <meta charset="utf-8">
    <title>Corona stats</title>

  </head>
  <body>
	<h1>  <p> Covid-19 Tracker</p></h1>
<div class="div_class">
  <div class="div_space">
    <form action="/citySearch" method="POST" >
      <label id="cName">Search By US City</label>
      <br>
      <br>
      <select class="select-style required" name="cName" required>
        <option name="none" value="" selected disabled>Select City</option>
          {% for item in data1 %}

        <option name="{{ item }}" >{{ item }} </option>

         {% endfor %}

      </select>
      <br>
      <br>
      <input type="submit" value="Submit" class="btn btn--m">
    </form>
  </div>
    <div class="div_space">
    <form action="/provinceSearch" method="POST" >
      <label id="pName">Search By US State</label>
      <br>
      <br>
      <select class="select-style required" name="pName" required>
        <option name="none" value="" selected disabled>Select City</option>
              {% for item in data3 %}
        <option name="{{ item }}" >{{ item }} </option>
         {% endfor %}

      </select>
      <br>
      <br>
      <input type="submit" value="Submit" class="btn btn--m">
    </form>
  </div>
  <div class="div_space">
    <form action="/countrySearch" method="POST">
      <label id="coName">Search By Country</label>
      <br>
      <br>
      <select class="select-style" name="coName" required>
        <option name="none"  value="" selected disabled>Select Country</option>

              {% for item in data2 %}

        <option name="{{ item }}" >{{ item }} </option>

         {% endfor %}

      </select>
      <br>
      <br>
      <input type="submit" value="Submit" class="btn btn--m">
    </form>
  </div>
</div>

	<footer>
  <nav>
    <ul>
      <li class="footer_nav_li"> ©Apnav Poptani-Covid Tracker</li>
      <li class="footer_nav_li"><a href="#">About </a></li>
      <li class="footer_nav_li"><a href="#">Contact </a></li>
    </ul>
  </nav>
	</footer>
</body>
</html>